{% extends "blog/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="content-section">
  <div class="media">
    <!-- <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"> -->
    <div class="media-body">
      <h2 class="account-heading">About This Platform</h2>
      <pre class="text-secondary">
Welcome to our blogging platform 

This website allows anyone to:

Create an account

Write and publish blog posts

Share thoughts, experiences, and expertise

Connect with readers through meaningful content

      </pre>
      <pre class="text-secondary">Contact Email : <b>bandarusirisha7@gmail.com</b></pre>
    </div>
  </div>
</div>
{% endblock content %}
